<div class="stream">
<header class="back">
    <a href="#" onclick="history.back(); return false;">&lt; back</a>
</header>
{{#each activitystream}}
<div class="activity">
    {{#with this}}
        <div class="header">
            {{> avatar actor=actor public=true}}
            <div>
                <div><strong>{{actor.preferredUsername}}</strong></div>
                {{getUsername actor.id}}
            </div>
        </div>
        {{#if note.summary}}
        <div class="content_warning">
            content warning: {{note.summary}}
        </div>
        {{/if}}
        <div class="content">
            {{{note.content}}}

            {{#each note.attachment}}
                <div class="attachment">
                    {{#isImage mediaType}}
                    <a href="{{../url}}" target="_blank"><img src="{{../url}}" alt="{{../name}}" /></a>
                    {{/isImage}}
                    {{#isVideo mediaType}}
                    <video role="application" src="{{../url}}" controls type="{{../mediaType}}"></video>
                    {{/isVideo}}
                </div>
            {{/each}}
            <footer>
                <div class="tools">
                    {{#if stats}}
                        <div>
<<<<<<< HEAD
                            ↩️ {{ stats.replies }}
                        </div>
                        <div>
                            🔁 {{ stats.boosts }}
                        </div>
                        <div>
                            ⭐️ {{ stats.likes }}
                        </div>
                    {{/if}}
                </div>
                <a href="{{note.url}}" class="permalink">{{timesince note.published}}</a>
=======
                            {{ stats.replies }} replies
                        </div>
                        <div>
                            {{ stats.boosts }} boosts
                        </div>
                        <div>
                            {{ stats.likes }} likes
                        </div>
                    {{/if}}
                    <a href="{{note.url}}" class="permalink">{{timesince note.published}}</a>
                </div>
>>>>>>> master
            </footer>
        </div>
    {{/with}}
</div>
{{/each}}
</div>
